.screen-header {
  position: sticky;
  top: 26.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px var(--horizontal-space);
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}
